<div class="relative z-20 bg-white bg-opacity-25 backdrop-blur">
  <div class="flex items-center justify-center h-screen font-sans bg-blend-soft-light">
      <div class="flex-col justify-end">
      <h1 class="cursor-default text-9xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-purple-500 to-orange-400">
        Zournal
      </h1>
      <h4 class="cursor-default text-5xl font-extralight italic">
        <span class="underline decoration-dotted decoration-violet-400"> Journal for</span> <span class="text-5xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-purple-500 to-orange-400 opacity-80">
        GenZ</span>
      </h4>
    </div>
  </div>
</div>
<div class="overflow-hidden">
  <emojispans class=" overflow-hidden "></emojispans>
  </div>
