<div class="bg-gray-100 flex items-center justify-center h-screen font-sans">
    <div class="flex-col justify-center border-violet-700">
    <h1 class="text-8xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-purple-500 to-orange-400">
      Zournal
    </h1>
    <h4 class="text-4xl font-extralight italic">
      <span class="underline decoration-dotted decoration-blue-400"> Journal for</span> <span class="text-3xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-purple-500 to-orange-400 animate-pulse">
      GenZ</span>
    </h4>
  </div>
</div>